
table.table tbody tr td,
table.table thead tr th,
table.table thead {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

#div-user-query { position: relative; }
#div-user-query button#btn-execute-query {
    position: absolute;
    right: 7px;
    bottom: 7px;
}
#div-user-query code {
    min-height: 50px;
    padding: 10px 50px 10px 10px;
}
#div-queries code {
    position: relative;
    min-height: 50px;
    padding: 10px 50px 10px 10px;
}
#div-queries code > button.rerun {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 33px;
}
